
<div class="container">
	<div class="row-fluid">
		<div class="span10">
			<h1 style="font-size:10em; line-height:100px;">Devimon</h1>
		</div>
		<div class="span2 pull-right">
			<img src="http://robohash.org/devimon"/>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8 pull-right">
			<h1 style="font-size:4em; line-height:45px;">Keeping your device safe.</h1>
		</div>
	</div>
</div>

<hr style="border-top:2px solid #A0A0A0;">

<div class="container">
	<div class="row-fluid">
		<div class="span6">
			<article >
				<h5>About</h5>
				<hr>
				<p class="lead">
					You are working on your lovely dovely <strong>laptop</strong> in a coffee shop, library, school, or any public spaces,
					and you have to step out for coffee, smoke, washroom, friend, etc.
					<strong>Simply put <a href=".">Devimon</a> on</strong> and you are all set to go!
				</p>
			</article>
		</div>
		<div class="span6" id="interact">
			<h5>Sign Up</h5>

			<span class="label label-important" style="font-size:2em; line-height:20px; cursor:pointer;">Almost done. Launching soon :)</span>

			<hr>
			<div class="form-horizontal">

				<div class="control-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input type="text" id="email" placeholder="Email">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input type="password" id="pw" placeholder="Password">
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<label id="keep_logged_in" class="checkbox">
							<input type="checkbox"> Keep me logged in
						</label>
						<button id="login_signup" type="submit" class="btn">Sign Up / Login</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<h5>How it works</h5>
			<hr>
			<p class="lead">
				When you bring <a href=".">Devimon</a> up on your browser, the browser maintains a conversation with  <a href=".">Devimon</a>.
				As soon as your browser stops talking (when the laptop is closed), <a href=".">Devimon</a> assumes that somebody has closed the laptop, possibly with the intention of stealing it, and sends you an immediate SMS message. 
			</p>
		</div>
	</div>
</div>


<h2>TODO</h2>
<ul>
	<li>email confirmation</li>
	<li>payment</li>
	<li>US number support</li>
	<li>Google analytic</li>
	<li>backend production config</li>
	<li>A, CNAME update : done</li>
</ul>

<script type="text/template" id="template-logged">
<div class="ctable">
	<span id="onoff" class="label label-important" rel="popover" data-content="Click at me bro!" style="font-size:5em; line-height:100px; cursor:pointer;">Offline</span>
	<br>
	{{#phone}}
		<span class="label label-info" style="font-size:5em; line-height:100px;">
			<abbr title="Phone Number">P:</abbr> {{phone}}
		</span>

		<button id="logout" class="btn btn-inverse pull-right">Logout</button>
	{{/phone}}

	{{^phone}}
		<h2>Oops, I don't have your phone number...</h2>
		<div class="row-fluid">
			<input id="input_phone_number" type="text" class="pull-right" placeholder="eg. 123 456 7890" style="width:300px;">
		</div>
		<div class="row-fluid">
			<a id="btn_phone_number" class="btn btn-default pull-right">Here you go<a>
		</div>
	{{/phone}}

</div>
</script>